<h2>Project: {{project.title}}</h2>

<h3>Population</h3>
<div class="row">
  <div class="large-6 columns">
    <h4>Indication</h4>
    <input type="text" ng-model="project.indication" placeholder="Indication...">
    <h4>Exclusion criteria</h4>
    <ul>
      <li ng-repeat="criterion in project.exclusions">{{criterion}}</li>
    </ul>
    <div class="row collapse">
      <div class="large-9 columns">
        <input type="text" ng-model="newExclusionTitle" placeholder="Exclusion...">
      </div>
      <div class="large-3 columns">
        <button class="button postfix" ng-click="createExclusion(newExclusionTitle)">New criterion</button>
      </div>
    </div>
  </div>
  <div class="large-6 columns">
    <h4>Included study designs</h4>
    <ul><li>TODO</li></ul>
    <!--
    <ul class="no-bullet">
      <li><input type="checkbox"><label>RCTs</label></li>
      <li><input type="checkbox"><label>Block RCTs</label></li>
      <li><input type="checkbox"><label>Cluster RCTs</label></li>
      <li><input type="checkbox"><label>Observational</label></li>
    </ul>
    -->
    <h4>Included comparisons</h4>
    <ul><li>TODO</li></ul>
    <!--
    <ul class="no-bullet">
      <li><input type="checkbox"><label>Head-to-head</label></li>
      <li><input type="checkbox"><label>Active-control</label></li>
    </ul>
    -->
    <h4>Publication year limits</h4>
    <div class="row collapse">
      <div class="large-5 columns">
        <input type="text" class="text-right" ng-model="project.publicationYear.min">
      </div>
      <div class="large-2 columns">
        <label class="prefix postfix"> - </label>
      </div>
      <div class="large-5 columns">
        <input type="text" ng-model="project.publicationYear.max">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-6 columns">
    <h3>Interventions / control</h3>
    <ul>
      <li ng-repeat="intervention in project.interventions">{{intervention}}</li>
    </ul>
    <div class="row collapse">
      <div class="large-9 columns">
        <input type="text" ng-model="newInterventionTitle" placeholder="Intervention...">
      </div>
      <div class="large-3 columns">
        <button class="button postfix" ng-click="createIntervention(newInterventionTitle)">New intervention</button>
      </div>
    </div>
  </div>
  <div class="large-6 columns">
    <h3>Outcomes</h3>
    <ul>
      <li ng-repeat="outcome in project.outcomes">{{outcome}}</li>
    </ul>
    <div class="row collapse">
      <div class="large-9 columns">
        <input type="text" ng-model="newOutcomeTitle" placeholder="Outcome...">
      </div>
      <div class="large-3 columns">
        <button class="button postfix" ng-click="createOutcome(newOutcomeTitle)">New outcome</button>
      </div>
    </div>
  </div>
</div>
<div class="panel">
  <span style="font-weight: bold">Query: </span><span>{{query.string}}</span>
  <span style="font-weight: bold">Result count: </span><span>{{query.count}}</span>
</div>
<div>
  <div class="alert-box {{message.type}}" ng-repeat="message in messages track by $index">
    {{message.date | date:'mediumTime'}} {{message.text}}
  </div>
</div>
<div>
  <button class="button success" ng-click="saveProject()">Save project</button>
  <button class="button alert" ng-click="resetProject()">Reset</button>
  <button class="button" ng-click="testQuery()">Test query</button>
  <button class="button alert" ng-click="startScreening()">Start screening</button>
</div>
